REACT_APP_SECRET
NODE_ENV
REACT_APP_URL
REACT_APP_FIREBASEAPIKEY
REACT_APP_FIREBASEAUTHDOMAIN
REACT_APP_FIREBASEAUTHPROVIDER
REACT_APP_STORAGEBUCKET
REACT_APP_BASEURL
TWILIO_ACCOUNT_SID
TWILIO_API_KEY
TWILIO_API_SECRET
REACT_APP_FIREBASEPROJECTID

REACT_APP_AWS_PINPOINT_APPLICATION_ID
REACT_APP_AWS_REGION
REACT_APP_AWS_COGNITO_POOL_ID

REACT_APP_SOCKET_URL