.label-reset {
  /* font-family: poppinsSemiBold; */
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  width: 210px;
  align-items: center;

  color: #4f4f4f;
  padding: 15px;
  margin-left: -50px;
}

.change-password-label {
  /* font-family: sfProTextRegular; */
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;

  color: #17182d;
}
.parent-row {
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset-input {
  background: #ffffff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 4px;
  width: 395px;
  height: 44px;
  /* font-family: poppinsMedium; */
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding-left: 10px;
}

.reset-input::-webkit-input-placeholder {
  /* font-family: poppinsRegular; */
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #e0e0e0;
}
.reset-input::-moz-placeholder {
  /* font-family: poppinsRegular; */
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #e0e0e0;
}
.reset-input::-ms-input-placeholder {
  /* font-family: poppinsRegular; */
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #e0e0e0;
}

.change-password-label {
  padding-left: 16%;
  padding-top: 45px;
  padding-bottom: 45px;
}

.absoluteImageSearch {
  position: absolute;
  right: 20px;
  top: 23px;
}
.each-field {
  padding: 10px;
  position: relative;
}

.btn-reset {
  margin-top: 100px;
  width: 133px;
  height: 42px;
  /* font-family: sfProTextRegular; */
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  text-transform: capitalize;

  color: #ffffff;

  background: #043293;
  border-radius: 4px;
  margin-left: -40px;
}
.button-container {
  text-align: center;
}

.loader-container {
  padding-top: 100px;
  margin-left: -150px;
}
@media only screen and (max-width: 750px) {
  .label-reset {
    margin-left: 0px;
  }
  .parent-row {
    display: unset;
  }
  .reset-input {
    width: 100%;
  }
  .btn-reset {
    margin-left: 0px;
  }
  .loader-container {
    margin-left: -100px;
  }
}
