.checkbox-toggle-switch {
  position: relative;
  display: inline-block;
  /* width: 40px;
    height: 21px; */
}

.checkbox-toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.checkbox-toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.lib-checkbox-toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.checkbox-toggle-slider:before {
  position: relative;
  content: "";
  width: 15px;
  height: 15px;
  margin-left: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.lib-checkbox-toggle-slider:before {
  position: relative;
  content: "";
  width: 12px;
  height: 12px;
  margin-left: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .checkbox-toggle-slider {
  background-color: var(--primary-color);
}

input:focus + .checkbox-toggle-slider {
  box-shadow: 0 0 1px var(--primary-color);
}
input:checked + .lib-checkbox-toggle-slider {
  background-color: var(--primary-color);
}

input:focus + .lib-checkbox-toggle-slider {
  box-shadow: 0 0 1px var(--primary-color);
}

input:checked + .checkbox-toggle-slider:before {
  transform: translate(16px, 0px);
}
input:checked + .lib-checkbox-toggle-slider:before {
  transform: translate(14px, 0px);
}

/* Rounded sliders */
.checkbox-toggle-slider.round {
  border-radius: 34px;
  display: flex;
  align-items: center;
}

.checkbox-toggle-slider.round:before {
  border-radius: 50%;
}
.lib-checkbox-toggle-slider.round {
  border-radius: 34px;
  display: flex;
  align-items: center;
}

.lib-checkbox-toggle-slider.round:before {
  border-radius: 50%;
}
