#navbar {
   height: 65px;
   /* z-index: 1000; */
   border-bottom: var(--default-border);
   border-color: rgba(189, 189, 189, 0.3);
}

.clear-button {
   /* cursor: pointer; */
   /* font-family: poppinsBold; */
   font-style: normal;
   font-weight: bold;
   font-size: 13px;
   line-height: 19px;
   margin-left: 5px;
   margin-top: 10px;
   /* identical to box height */

   text-decoration-line: underline;

   color: #043293;
}
.side-bar-color {
   /* background-color: #0c1d32 !important; */
   /* margin-top: 0.5px; */
   /* border: none !important; */
}

#navbar .icon {
   width: 32px;
   height: 32px;
}
#navbar :is(.nav-logo-div, .nav-options-div) {
   width: 30%;
}
#navbar .nav-view-div {
   width: 40%;
}
#navbar .nav-view-div .dropdown {
   width: 100%;
}
#navbar .input-group {
   border: 1px solid #e0e0e0;
   border-radius: 4px;
   background-color: rgba(224, 224, 224, 0.3);
}
#navbar .form-control {
   height: 35px;
   background-color: transparent;
   border: none;
}

#navbar .input-group-text {
   width: 45px;
   height: 35px;
   background-size: 20px;
   background-repeat: no-repeat;
   background-position: center;
   border: none;
   border-radius: 0;
}
#navbar .filter-button {
   background-color: transparent;
   background-image: url(/assets/images/newimages/filter-icon.svg);
}
#navbar .search-button {
   background-color: rgba(224, 224, 224, 0.3);
   border-left: 1px solid #e0e0e0;
   background-image: url(/assets/images/newimages/search-icon.svg);
}

#sidebar {
   height: 100%;
   z-index: 999;
   background-color: white;
   border-right: var(--default-border);
   border-color: rgba(189, 189, 189, 0.3);
}
.sidebar-option-new {
   margin: 20px 10px 2px;
   cursor: pointer;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: column;
   font-size: 14px;
   height: 50px;
   font-weight: 500;
}

#sidebar .sidebar-option {
   width: 40px !important;
   height: 40px !important;
   margin: 15px 13px;
   cursor: pointer;
   margin-top: 0px;
   padding: 8px;
   padding-top: 7px;
   padding-bottom: 10px;
   border-radius: 7px;
   font-size: 14px;
   height: 50px;
   font-weight: 500;
}
.sidebar-icon {
   margin-top: 0px;
}
.nav-menu-new {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-right: 8px;
   cursor: pointer;
   margin-top: -2px;
}
#sidebar .sidebar-option.selected {
   /* color: var(--primary-color); */
   /* color: #ff567a; */
   background: #043293;
   /* color: #0364e6; */
}
.selected-option {
   /* color: #ff567a; */
   background: #043293;
   /* margin-top: -10px; */
   /* padding-top: 20px; */
   /* color: #0364e6; */
}
#sidebar .sidebar-option.selected path {
   /* fill: var(--primary-color); */
   /* fill: #ff567a; */
   background: #043293;
   fill: white;
}
.selected-link path {
   /* fill: var(--primary-color); */
   /* fill: #ff567a; */
   background: #043293;
   /* fill: #0364e6; */
}
.selected path {
   /* fill: var(--primary-color);
  fill: #ff567a; */
   background: #043293;
}
